{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div>Select two files to compare</div><br>
            <div id="files">
                <input type="file" name="file1" id="fileToUpload"/><br>
                <input type="file" name="file2" id="fileToUpload"/><br>
            </div>
            <div id="algorithms">
                <input type="radio" name="algorithm" value="lines"/> Compare lines<br>
                <input type="radio" name="algorithm" value="sentences"/> Compare sentences<br>
                <input type="radio" name="algorithm" value="substrings"/> Compare substrings
                <input type="number" name="length" step="1" min="1" placeholder="of length n"/>
            </div><br>
            <button type="submit">Compare</button>
        </form>
    </div>

{% endblock %}
